<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/header-footer")
</head>
<body>
    <div class="head">
        <ul>
            <li class="first">
                <a href="#">
                    <span class="logo"></span>
                    <span class="logoo"></span>
                    <span class="logo logo-b"></span>
                    遇见 FM
                </a>
            </li>
            <li class="center spe">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
            <li class="center">@Html.ActionLink("My Music", "Music", "Home", new { area = "" }, new { @class = "nav-link" })</li>
            <li>@Html.ActionLink("Collect by Category", "Index", "Categories", new { area = "" }, new { @class = "nav-link" })</li>
            <li>@Html.ActionLink("View all Musics", "Index", "Musics", new { area = "" }, new { @class = "nav-link" })</li>
            <li>
                @using (Html.BeginForm("Index", "Musics", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                {
                    <div class="form-group">
                        @Html.TextBox("Search", null, new { @class = "form-control", @placeHolder = "Srearch Musics" })
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                }
            </li>
            <li class="login">@Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        </ul>
        @using (Html.BeginForm("Index", "Musics", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
        {
            <div class="form-group">
                @Html.TextBox("Search", null, new { @class = "form-control", @placeHolder = "Srearch Musics" })
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        }
    </div>
    <div>
        @RenderBody()
    </div>
    <div class="footer">
        <div class="our">
            <p class="about">Contact us:</p>
            <p class="mail"><a href="mailto:2623763698@qq.com">2623763698@qq.com</a></p>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
